# Build artifacts
bin/
obj/

# Visual Studio & VS Code
.vs/
.vscode/

# Logs
*.log

# DLLs & PDBs (hasil build)
*.dll
*.pdb
*.exe

# User-specific files
*.user
*.suo

# NuGet
*.nupkg
*.snupkg
packages/

# Config (optional, kalau tidak mau commit config local)
appsettings.Development.json
