################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThePatho/.vs/ThePatho/FileContentIndex/4135322c-8593-4a0e-afa7-53953fc905b3.vsidx
/ThePatho/.vs/ThePatho/FileContentIndex/361166d6-3fab-4cd3-9756-d17fbee1e661.vsidx
