################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio temporary files and folders
.vs/
*.suo
*.user
*.userosscache
*.rsuser

# Build results
bin/
obj/
Debug/
Release/

# Temporary files
*.log
*.cache
*.pdb
*.tmp
*.ldf
*.mdf

# Packages
*.nupkg
*.snupkg

# Other files
*.dll
*.exe
*.db
*.json.schemastore.json

# Rider or JetBrains files
.idea/
*.iml
